*{
    font-family: 'Times New Roman', Times, serif;
    
  
}



.service{

    display: flex;
    padding: 20px 20px 20px 20px;
    height: 350px;
    width: 99%;
    max-width: 100%;
    padding-right: 0px;
    margin-left: 0;
    border-radius: 10px;

}


.img1{
    background-image: url("pic/1.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}

.content{
    width: 950px;
    height: 350px;
    background-color:#bac1cc;
    margin-left: 20px;
    border-radius: 10px;
}
/*heading*/
.heading{
    display: flex;
    
}
.heading h1{
    margin-left: 10px;
    margin-bottom: 6px;
}
.heading i{
    background-color: #ced9eb;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-top: 25px;
}
/*ratings*/
.ratings{
    display: flex;
   

}
.ratings .value{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
}
.ratings .star{
    margin-top: 25px;
    margin-left: 5px;
    color: orange;
   
}
.ratings .text{
    margin-left: 5px;
    margin-bottom: 30px;
    padding-top: 8px;
    font-weight: 700;
    font-size: 17px;
}
.veri i{
    font-size: 40px;
    color: blue;
}
.verify {
    font-size: 18px;
    color: blue;
    padding-top:7px;
    
}
.zap{
    font-size:20px;

    padding-top: 5px;
    color: orange;
}
.responsive{
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 4px;
}
/*loaction*/

.location{
    display: flex;
    
}


.location i{
    background-color:#ced9eb;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.location p{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;

}
/*links*/


.links a{
    text-decoration: none;
    color: black;
    background-color: #a4adbd;
    font-size: 20px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 15px;
}
.link:hover{
  background-color:#97a8c4;
  color:black;
  opacity: 0.7;
    transition: background-color 500ms linear;
  

}
/*informtion*/
.information{
    display: flex;
   
}

.information .call{
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    color:white;
    margin-left: 10px;
    cursor: pointer;
}
.information .call i{
    color: white;
    padding-right: 5px;
}
.information .call:hover{
    background-color: green;
    opacity: 0.7;
    transition: background-color 500ms linear;
}
.information .enquiry:hover{
    opacity: 0.7;
   
    transition: background-color 500ms linear;
 
}
.information .enquiry{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.information .enquiry i{
    color: white;
    padding-right: 5px;
}

.information .chat{
    border: 1px solid black;
 
    
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
   
}
.information .chat   i{
    font-weight: 5000;
    padding-right: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;


}
.trending i{
    color:white;
    font-size: 20px;
}
.trending{
    background-color: blue;
    margin-left: 220px;
    padding-top:8px;
    padding-right: 3px;
    font-weight: 300;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}
.trending:hover{
    background-color: #2d5ba6;
   
    transition: background-color 500ms linear;
}

/*opentiming*/
.open{
    display: flex;
    
}
.open .at{
    color: green;
    padding-left: 15px;

    margin-top: 10px;
}
.open .time{
    padding-left: 5px;
    margin-top: 11px;
   font-weight: 600;
    margin-right: 70px;
}
.open .experience{
  
    margin-top: 10px;
    margin-right: 200px;
    
}
.open a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    background-color: blue;
    color:white;
    margin-bottom: 10px;
}

.open a:hover{
    background-color: #2d5ba6;
   
    transition: background-color 500ms linear;
}
.open p:hover{
    cursor: pointer;
}
/*information section */
.quickinformation{
    width: 100%;
    
    
  
    height: 700px;
    display: flex;  
     position: relative;
    
}

.serv{
    position: absolute;
    width: 20%;
    height: 300px;
    top:310px;
    
}

.summary{
    height: 350px;
    width:40%;
    
}
.type{
    height: 350px;
   
    width:30%;
}
.timings{
    height: 350px;
   
    width: 30%;
}

/*quick information*/


.quickinformation .quicki {
    width:80%;
    height:700px;
    display: flex;
    
    margin-right: 10px;
    margin-top: 10px;
    
    border-radius: 20px;
    background-color: #c5d1d6;
}

.summary .quick{
    font-size: 25px;
    margin-left: 440px;
    width: 70%;
   color: black;
    font-weight: 600;

    
}
.busi {
    
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    color: lightslategray;
}
.busiinfo{
    width: 50%;
    height: 100px;
    font-weight: 600;
    margin-left: 20px;
    font-size: 19px;
}
.year{
  
    padding-left: 20px;
    font-size: 25px;
    font-weight: 700;
    color: lightslategray;
}
.number{
        margin-left: 20px;
        font-size: 17px;
        font-weight: 800;
       
    
        padding-bottom: 20px;
        
        
}



.type .typ{
    
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
    color: lightslategray;

}
.type .deli{
    width: 40%;
    height: 100px;
    font-weight: 600;
    margin-left: 20px;
    font-size: 19px;
}
.timings .timi{

    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
    color: lightslategray;

}
.timings .day{
     width: 80%;
    height: 100px;
    font-weight: 600;
    margin-left: 20px;
    font-size: 19px;

}



.con ul{
    display: flex;
    
    
}
.ve i{
    font-size: 40px;
    color:green;
    float: left;

}
.con ul .co{
  
    font-size: 20px;
    padding-top: 7px;
}
.ser{
  
    padding-left: 65px;
    font-size: 25px;
   
    margin-top: 50px;
}

.ser1{
  
    padding-left: 65px;
    font-size: 25px;
    
    margin-bottom: 40px;
}
.serv{
    position: absolute;
    width: 20%;
    height: 350px;
    top:320px;
   
}
.serves{
    position: absolute;
    width: 20%;
    height: 350px;
    top:350px;
    left: 330px;

   

}
.address{
    width: 30%;
    height: 700px;
    padding-left: 40px;
    
     margin-top: 10px;
    
    border-radius: 20px;
    background-color:#aad2e3;
}


.address .add{
    
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
    color: lightslategray;

}



.addi i{
   
    font-size: 30px;
    position: absolute;
    top:30px;
    left: 10px;
    
}
.addi .area{
    
    font-size: 20px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
}


.mobile{
    display: flex;
   
    margin-top: 10px;
}
.mobile i:hover{
    cursor: pointer;
}
.mobile i{
    font-size: 30px;
 
    color: blue;
   
    border-radius: 70px;
   padding-top: 15px;
    margin-left: 10px;
}
.mobile .mobi{
    font-size: 20px;
    padding-left: 30px;
    font-weight: 600;

}
.mobile #loc{
    padding-top:30px;

}


.img2{
    background-image: url("pic/2.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img3{
    background-image: url("pic/3.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img4{
    background-image: url("pic/4.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img5{
    background-image: url("pic/5.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img6{
    background-image: url("pic/6.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img7{
    background-image: url("pic/7.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img8{
    background-image: url("pic/8.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img9{
    background-image: url("pic/9.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img10{
    background-image: url("pic/10.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img11{
    background-image: url("pic/11.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img12{
    background-image: url("pic/12.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}
.img13{
    background-image: url("pic/13.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 500px;

        
    border-radius: 10px;
}

.quicki{
    position: relative;
}

.booking{
    width: 400px;
    height: 400px;
    
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    bottom: 10px;
    right: 50px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 10px 2px gray;
    outline: none;
}
.booking h2{
    text-align: center;
}
.booking input,textarea{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    width: 300px;
   
}
.booking input:focus::placeholder{
    opacity: 0;
   
    
}
.booking textarea:focus::placeholder{
    opacity: 0;
}

.booking input::placeholder{
    color: black;
}
.booking textarea::placeholder{
    color: black;
}
.booking button{
    padding: 5px;
    width: 80px;
    margin-left: 0;
    border-radius: 5px;
   
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .9s all;
    cursor: pointer;
}
.booking button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotate(-2deg) scale(1.05);

    
}



