*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pic/pexels-david-mackey-2296430.jpg')no-repeat;
    background-size: cover;
    background-position: center;

    
   
}
.wrapper{
    background:transparent;
    border: 2px solid rgb(255, 255, 255,.2);
    backdrop-filter: blue(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: rgb(0, 0, 0);
    width:420px;
    border-radius: 10px;
    padding:30px 40px;
    backdrop-filter: blur(20px);
    
}

.wrapper h1{
    text-align: center;
    font-size: 36px;
}
.wrapper .boxes{
   position: relative;
    width: 100%;
    height:50px;
   
    margin: 30px 0;
}
.boxes input{
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}
.boxes input::placeholder{
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;

}
.boxes input:focus::placeholder{
    opacity: 0;
}
.boxes i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0px 15px;
}
.remember label input{
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}
.remember a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 2px;
}
.remember a:hover{
    text-decoration: underline;

}
.button
{
  
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    padding: 12px 150px 12px 150px;
}
.wrapper .register{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin: 20px 0 10px;
    font-family:'Times New Roman', Times, serif;
}
.register p a {
    color:black ;
    text-decoration: none;
    font-weight: 600;

}
.register p a:hover{
    text-decoration: underline;
}